.sign-up {
  width: 552px !important;
  padding: 32px 64px !important;
}

.sign-up__btn-exit {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: transparent;
  background-image: url("../../Assets/images/icon-x.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}