.shop-item {
  display: flex;
  align-items: flex-start;
  padding: 32px 208px 32px 32px;
  border: 2px solid #F2F2F2;
  border-radius: 8px;
}

.shop-item__name {
  width: 188px;
  flex-grow: 0;
  margin: 0;
  margin-right: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #5C596D;
  word-break: break-all;
}

.shop-item__address {
  flex-grow: 2;
  margin: 0;
  margin-right: 72px;
  font-style: normal;
}

.shop-item__address-inner {
  margin-top: 12px;
  display: block;
}

.shop-item__work-hours {
  flex-grow: 1;
  margin: 0;
  font-weight: 300;
}

 