.product-modal {
  position: relative;
  width: 781px !important;
  padding: 40px !important;
  background-color: #FFFFFF !important;
  border-radius: 8px;
  cursor: auto;
}

.product-modal__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}

.product-modal__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.product-modal__name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5C596D;
}

.product-modal__btn-exit {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  background-image: url("../../Assets/images/icon-x.svg");
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointerw;
}

.product-modal__header-inner {
  display: flex;
  align-items: center;
}

.product-modal__rating-wrapper {
  margin: 0;
  padding-right: 16px;
  border-right: 2px solid #F7F7F7;
}

.products-modal__comments-quantity {
  margin: 0;
  padding-right: 16px;
  padding-left: 16px;
  border-right: 2px solid #F7F7F7;
}

.products-modal__availability {
  margin: 0;
  padding-left: 16px;
}

.products-modal__content {
  display: flex;
  align-items: stretch;
}

.products-modal__photos-wrapper {
  width: 455px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.products-modal__main-photo-wrapper {
  padding: 30px 80px;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  border-radius: 8px;
}

.products-modal__main-photo {
  width: 295px;
  height: 295px;
}

.products-modal__additional-photos-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.products-modal__additional-photo-wrapper {
  padding: 10px;
  flex-grow: 1;
}

.products-modal__additional-photo {
  width: 86px;
}


.products-modal__properties {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products-modal__price {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5C596D;
}

.products-modal__colors-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 26px;
}

.products-modal__txt {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: left;
}

.products-modal__colors-label {
  /* display: flex; */
}

.products-modal__labels-wrapper {
  display: flex;
}

.products-modal__colors-label:not(:last-child) {
  margin-right: 8px;
}

.products-modal__colors-input:checked ~ .products-modal__colors-custom-input::after{
  display: block;
}

.products-modal__colors-custom-input {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.tomato {
  background-color: #FF4141;
}

.grey {
  background-color: #888888;
}

.blue {
  background-color: #1B5BF7;
}

.products-modal__colors-custom-input::after {
  position: absolute;
  width: 41px;
  height: 41px;
  top: -5px;
  left: -5px;
  content: "";
  display: none;
  border-radius: 50%;;
  background-color: transparent;
  border: 2px solid #1B5BF7;
}

.products-modal__memories-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 28px;
}

.products-modal__memories-label:not(:last-child) {
  margin-right: 8px;
}

.products-modal__memories-input:checked ~  .products-modal__memories-custom-input {
  background-color: #F2F2F2;
}

.products-modal__memories-custom-input {
  padding: 8px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  cursor: pointer;
}

.products-modal__sim-list {
  margin-bottom: 24px;
}

.products-modal__sim-label:not(:last-child) {
  margin-right: 8px;
}

.products-modal__sim-input:checked ~  .products-modal__sim-custom-input {
  background-color: #F2F2F2;
}

.products-modal__sim-custom-input {
  padding: 8px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  cursor: pointer;
}

.products-modal__add-cart-btn {
  padding: 11px 24px 11px 53px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-image: url("../../Assets/images/shopping-cart-white.svg");
  background-repeat: no-repeat;
  background-position: left 24px center;
  border: none;
  border-radius: 4px;
  background-color: #1B5BF7;
  cursor: pointer;
}

.products-modal__add-cart-btn:hover {
  opacity: 0.8;
}

.products-modal__more-info-btn {
  display: inline-block;
  padding: 18px 21px;
  margin-top: 30px;
  background-color: #EAE9EF;
  font-weight: 500;
  color: #1D1A2F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
