.delivery {

}

.delivery__container {
  padding-top: 42px;
  padding-bottom: 42px;
}

.delivery__welcome {
  width: 632px;
  margin-bottom: 41px;
}

.delivery__headline {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.delivery__subtitle {
  margin: 0;
}

.delivery__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: -32px;
  list-style: none;
}

.delivery__item {
  width: calc(100% / 3 - 22px);
  margin-right: 32px;
  margin-bottom: 32px;
}

.delivery__item:nth-child(3n),
.delivery__item:last-child  {
  margin-right: 0;
}
