.cart {
}

.cart__container {
  padding-top: 46px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.cart__headline {
  margin: 0;
  margin-right: 21px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1D1A2F;
}

.cart__quantity {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
}

.cart__delete-btn {
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF5959;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart__delete-btn:hover {
  opacity: 0.8;
}

.cart__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.cart__left {
  flex-grow: 1;
}

.cart__list {
  margin: 0;
  padding-left: 0;
  padding-right: 112px;
  list-style: none;
}

.cart__item {
  display: flex;
  padding: 32px 0;
}

.cart__item:not(:last-child) {
  border-bottom: 3px solid #F2F2F2;
}

.cart__item-input {
  width: 23px;
  height: 23px;
  align-self: center;
  margin-right: 16px;
}

.cart__item-img {
  width: 105px;
  height: 128px;
  margin-right: 12px;
}

.cart__item-content {
  display: flex;
  flex-direction: column;
}

.cart__item-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5C596D;
}

.cart__item-desc {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #9692B0;
}

.cart__btns-wrapper {
  margin-top: auto;
  padding-bottom: 12px;
}

.cart__item__btn {
  margin-right: 32px;
  padding-left: 20px;
  color: #5C596D;
  background-color: transparent;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
  border: none;
}

.cart__item__btn:hover {
  opacity: 0.8;
}

.cart__item__btn--save {
  background-image: url("../../Assets/images/heart.svg");
}

.cart__item__btn--delete {
  background-image: url("../../Assets/images/icon-trash.svg");
}

.cart__item-counter {
  margin-left: auto;
}

.cart__item-counter__btn {
  width: 36px;
  height: 36px;
  font-weight: 500;
  padding: 10px;
  background-color: #F7F7F7;
  border-radius: 50%;
  border: none;
  text-align: center;
  cursor: pointer;
}

.cart__item-counter__btn:hover {
  opacity: 0.8;
}

.cart__item-counter__quantity {
  margin-right: 16px;
  margin-left: 16px;
}

.cart__item-price {
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}

.cart__right {
  width: 338px;
  display: flex;
  flex-direction: column;
  padding: 32px 27px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.cart__right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.cart__right-headline {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #5C596D;
}

.cart__right-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #5C596D;
}

.cart__information-list {
  margin: 0;
}

.cart__information-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.cart__information-wrapper:last-of-type {
  margin-bottom: 24px;
}

.cart__information-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #9692B0;
}

.cart__information-def {
  margin: 0;
}

.cart__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1B5BF7;
  text-decoration: none;
}

.cart__submit-btn {
  padding: 11px 58px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #1B5BF7;
  border-radius: 4px;
}

.cart__submit-btn:hover {
  opacity: 0.8;
}

.cart__submit-btn--disabled {
  background-color: grey;
  cursor: not-allowed;
}


.cart__txt {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #9692B0;
}