.popular-brands {
  padding-top: 32px;
  padding-bottom: 64px;
}

.popular-brands__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.popular-brands__headline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5C596D;
  align-self: flex-start;
}

.popular-brands__headline:hover {
  color: #1B5BF7;
  cursor: pointer;
}


.popular-brands__categories-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.popular-brands__categories-item {
  width: calc(100% / 8 - 10px);
  height: 36px;
  color: #5C596D;
  background-color: #F7F7F7;
  border-radius: 4px;
  border: none;
}


.popular-brands__categories-item:not(:last-child) {
  margin-right: 7px;
  flex-grow: 1;
}

.popular-brands__brands-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular-brands__brands-item {
  width: calc(100% / 6 - 10px);
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid #EAE9EF;
  border-radius: 4px;
}

.popular-brands__tabcontent {
  margin-top: 24px;
}

.popular-brands__brands-img:hover {
  transform: scale(1.1);
}

.popular-brands__brands-item:nth-child(6n) {
  margin-right: 0;
}

.popular-brands__brands-img {
  padding: 12px 45px;
}

@media only screen and (max-width: 1200px){

  .popular-brands__brands-item {
    width: calc(100% / 4 - 10px);
    margin-right: 0;
  }

  .popular-brands__brands-item:not(:nth-child(4n)) {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px){
  .container{
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .popular-brands__categories-list {
    justify-content: center;
  }

  .popular-brands__categories-item {
    width: unset;
    margin-right: 20px !important;
    margin-bottom: 20px;
  }

  .popular-brands__categories-item:not(:last-child) {
    flex-grow: 0;
  }

  .popular-brands__brands-list {
    justify-content: space-between;
  }

  .popular-brands__brands-item {
    width: unset;
    margin: 0;
    margin-bottom: 10px;
  }

  .popular-brands__brands-img {
    padding: 20px;
  }
}

@media only screen and (max-width: 576px){
  .container{
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .popular-brands__brands-item {
    justify-content: space-between;
  }

  .popular-brands__brands-item {
    width: calc(100% / 2 - 10px);
  }
}


