.categories {
  padding-top: 32px;
  padding-bottom: 64px;
}

.categories__headline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.categories__headline:hover {
  color: #1B5BF7;
  cursor: pointer;
}

.categories__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories__item {
  width: calc(100% / 4 - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16.5px;
  margin-right: 32px;
  background-color: #F7F7F7;
  border-radius: 8px;
  text-align: center;
}

.categories__item:nth-child(4n) {
  margin-right: 0;
}


.categories__item-img {
  width: 100%;
  max-width: 267px;
  height: auto;
  margin-bottom: 16px;
  object-fit: cover;
}

.categories__item-name {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #5C596D;
}

.categories__item-name:hover {
  color: #1B5BF7;
}

@media only screen and (max-width: 768px){
  .container{
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .categories__list {
    justify-content: space-between;
  }

  .categories__item {
    width: calc(100% / 2 - 10px);
    margin: 0px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px){
  .container{
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .categories__headline {
    display: block;
    text-align: center;
  }

  .categories__list {
    flex-direction: column;
  }

  .categories__item {
    width: 100%;
    margin: 0;
  }

  .categories__item:not(:last-child) {
    margin-bottom: 20px;
  }
}