.application-banner {
  padding: 108px 0;
  background-color: #E0E8FF;
  background-image: url("../../Assets/images/application-banner-bg.png");
  background-repeat: no-repeat;
  background-position: top 35px right calc(50% - 100px);
  background-size: 306px 670px;
}

.application-banner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 122px;
}

.application-banner__left {
  width: 100%;
  max-width: 513px;
}

.application-banner__name {
  margin-top: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  color: #5C596D;
}

.application-banner__name::before {
  width: 82px;
  height: 26px;
  display: block;
  margin-right: 6px;
  background-image: url("../../Assets/images/u-market-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.application__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #1D1A2F;
}

.application-banner__app-stores {
  display: flex;
  align-items: center;
}

.application-banner__google-play {
  width: 100%;
  max-width: 168px;
  height: 50px;
  margin-right: 10px;
}

.application-banner__app-store {
  width: 100%;
  max-width: 142px;
  height: 50px;
}

.application-banner__txt {
  width: 100%;
  max-width: 258px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #5C596D;
}

@media only screen and (max-width: 1200px){
  .application-banner {
    background-position: top right;
  }

  .application-banner__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .application__title {
    font-size: 26px;
    line-height: 1.3;
  }

  .application-banner__txt {
    font-size: 22px;
    margin-top: 20px;
  }
}


@media only screen and (max-width: 800px){
  .container{
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .application-banner {
    padding-top: 50px;
    padding-bottom: 300px;
    background-size: 300px 400px;
    background-position: bottom -100px center;
  }
  
  .application-banner__container {
    flex-direction: column;
    align-items: center !important;
  }

  .application-banner__name {
    justify-content: center;
  }

  .application__title {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }

  .application-banner__app-stores {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .application-banner__google-play {
    max-width: 100px;
  }
  
  .application-banner__img {
    height: 35px !important;

  }
 
  .application-banner__app-store {
    max-width: 100px;
  }

  .application-banner__txt {
    font-size: 16px;
    text-align: center;
  }
}

@media only screen and (max-width: 576px){
  .container{
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }
}