.topbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  box-shadow: inset 0px -1px 0px #EEEEEE;
}

.topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.topbar__item:not(:last-child) {
  margin-right: 32px;
}

.topbar__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
  text-decoration: none;
}

.topbar__link:hover {
  color: #1D1A2F;
}

.topbar-right {
  display: flex;
  align-items: center;
}

.topbar-right-tel {
  display: flex;
  align-items: center;
  margin-right: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
  text-decoration: none;
}

.topbar-right-tel::before {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url("../../Assets/images/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.topbar-right-tel:hover {
  color: #1D1A2F;
}

.topbar__right-address {
  display: flex;
  align-items: center;
  margin-right: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
}

.topbar__right-address::before {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url("../../Assets/images/location.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.topbar__right-address:hover {
  color: #1D1A2F;
  cursor: pointer;
}


.topbar__right-language-picker {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.topbar__right-language-picker::before {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../../Assets/images/russian-flag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.topbar__right-language-picker::after {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../../Assets/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

@media only screen and (max-width: 992px){
  .container{
    max-width: 992px;
    padding-right: 20px;
    padding-left: 20px;
  }
}


@media only screen and (max-width: 768px){
  .container{
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .topbar__container {
    flex-direction: column;
    justify-content: space-around;
  }

  .topbar__list {
    width: 100%;
    justify-content: space-around;
  }

  .topbar__item:not(:last-child) {
    margin: 0;
  }

  .topbar-right {
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
  } 

  .topbar-right-tel {
    max-width: 110px;
    margin: 0;
    white-space: nowrap;
  }

  .topbar__right-address {
    margin: 0;
  }

  .topbar__right-language-picker {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 500px){
  .container{
    max-width: 500px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .topbar__list {
    max-width: unset;
    justify-content: space-between;
  }

  .topbar__item:first-child .topbar__link {
    width: unset;
  }

  .topbar-right {
    max-width: unset;
    justify-content: space-between;
  } 
}

@media only screen and (max-width: 375px){
  .container{
    max-width: 375px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .topbar-right-tel {
    font-size: 13px;
  }

  .topbar__right-address::before {
    display: none;
  }

  .topbar__right-language-picker::before {
    width: 15px;
    height: 15px;
  }

  .topbar__right-language-picker::after {
    width: 15px;
    height: 15px;
    margin: 0;
  }

}