.review {

}

.review__container {
  width: 520px;
  padding-top: 41px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.review__headline {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.review__desc {
  margin-top: 0;
  margin-bottom: 22px;
}

.review__form {
  display: flex;
  flex-direction: column;
}

.review__label {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.review__label:not(:last-child) {
  margin-bottom: 32px;
}

.review__label-name {
  margin-bottom: 8px;
}

.review__input {
  padding: 14px 16px;
  color: #1D1A2F;
  background-color: #F7F7F7;
  border-radius: 4px;
  border: none;
}

.review__select {
  color: #9692B0;
}

.review__textarea {
  resize: none;
}

option {
  color: #1D1A2F;
}

.review__submit-btn {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #1B5BF7;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.review__submit-btn:hover {
  opacity: 0.8;
}
