.product-page__container {
  padding-top: 30px;
  padding-bottom: 62px;
}

.product-page__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.product-page__name {
  margin-top: 25px;
  margin-bottom: 22px;
}

.products-item__hashtag {
  margin-left: 16px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #1D1A2F;
  background-color: #F7F7F7;
  border-radius: 55px;
}

.product-page__main-info {
  display: flex;
  margin-bottom: 72px;
}

.product-page__properties {
  display: flex;
}

.product-page__additional-images-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  border-right: 3px solid #F2F2F2;
  list-style: none;
}

.product-page__additional-images-item:not(:last-child) {
  margin-bottom: 20px;
}

.product-page__additional-images-img {
  width: 60px;
  height: 60px;
  display: block;
  cursor: pointer;
}

.product-page__main-image-wrapper {
  display: flex;
  align-items: flex-start;
  padding-right: 44px;
  padding-left: 34px;
  border-right: 3px solid #F2F2F2;

}

.product-page__main-image {
  margin-right: 17px;
}

.product-page__favourite-icon {
  margin-right: 19px;
  color:#9692B0;
}

.product-page__favourite-icon:hover svg {
  color: #3596EF;
  fill: #3596EF;
}

.product-page__compare-icon {
  color:#9692B0;
}

.product-page__compare-icon:hover {
  color: #3596EF;
  fill: #3596EF;
}

.product-page__form {
  display: flex;
  align-items: flex-start;
  padding-left: 24px;
}

.product-page__price {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5C596D;
}

.product-page__colors-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 26px;
}

.product-page__txt {
  margin-top: 0;
  margin-bottom: 8px;
  text-align: left;
}

.product-page__labels-wrapper {
  display: flex;
  margin-top: 4px;
}

.product-page__colors-label:not(:last-child) {
  margin-right: 8px;
}

.product-page__colors-input:checked ~ .product-page__colors-custom-input::after{
  display: block;
}

.product-page__colors-custom-input {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.tomato {
  background-color: #FF4141;
}

.grey {
  background-color: #888888;
}

.blue {
  background-color: #1B5BF7;
}

.product-page__colors-custom-input::after {
  position: absolute;
  width: 41px;
  height: 41px;
  top: -5px;
  left: -5px;
  content: "";
  display: none;
  border-radius: 50%;;
  background-color: transparent;
  border: 2px solid #1B5BF7;
}

.product-page__memories-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 28px;
}

.product-page__memories-label:not(:last-child) {
  margin-right: 8px;
}

.product-page__memories-input:checked ~  .product-page__memories-custom-input {
  background-color: #F2F2F2;
}

.product-page__memories-custom-input {
  padding: 8px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  cursor: pointer;
}

.product-page__sim-list {
  margin-bottom: 24px;
}

.product-page__sim-label:not(:last-child) {
  margin-right: 8px;
}

.product-page__sim-input:checked ~  .product-page__sim-custom-input {
  background-color: #F2F2F2;
}

.product-page__sim-custom-input {
  padding: 8px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  cursor: pointer;
}

.product-page-summary {
  width: 311px;
  padding: 32px;
  margin-left: 136px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.product-page__information-list {
  margin: 0;
  margin-bottom: 72px;
}

.product-page__information-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.product-page__information-wrapper:last-of-type {
  margin-bottom: 24px;
}

.product-page__information-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #9692B0;
}

.price {
  font-size: 20px;
  line-height: 24px;
}

.product-page__information-def {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.product-page__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1B5BF7;
  text-decoration: none;
}

.product-page__submit-btn {
  padding: 11px 39px;
  padding-left: 70px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #1B5BF7;
  border-radius: 4px;
  background-image: url("../../Assets/images/shopping-cart-white.svg");
  background-repeat: no-repeat;
  background-position: left 30px center;
  border: none;
}

.product-page__submit-btn:hover {
  opacity: 0.8;
}

.product-page__txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #9692B0;
}


.product-page__chkb {
  margin-right: 8px;
}

.product-page__tabs {
  width: 849px;
}

.product-page__tablink {
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #9692B0;
  background-color: #F7F7F7;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.product-page__tablink + .product-page__tablink {
  border-left: 1px solid rgba(150, 146, 176, 0.2);

}

.tab-link-active {
  color: #1B5BF7;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 20px;
}

.product-page__tabcontent__about-text {
  margin-top: 24px;
  margin-bottom: 60px;
}

.product-page__tabcontent__def-list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.product-page__tabcontent__def-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.product-page__tabcontent__def-title {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #9692B0;
}

.product-page__line {
  width: 100%;
  height: 2px;
  flex-grow: 1;
  background-image: url("../../Assets/images/line.svg");
  background-repeat: repeat-x;
  align-self: flex-end;
}

.product-page__tabcontent__def-desc {
  margin: 0;
  flex-shrink: 0;
}

.product-page__table {
  margin-top: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
  border: 2px solid #F7F7F7;
  border-collapse: collapse;
}

.product-page__thead {

}

.product-page__thead__tr {
  border: 2px solid #F7F7F7;
  
}

.product-page__th {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
  padding: 11px 16px;
  white-space: nowrap;
  word-break: break-all ;
  border: 2px solid #F7F7F7

}

.product-page__tbody {

}

.product-page__thbody__tr {

}

.product-page__td {
  padding: 11px 16px;
  border: 2px solid #F7F7F7;
  white-space: nowrap;
  word-break: break-all;
}

.product-page__td:last-child {
  text-align: center;
}

.product-page__comment-btn {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 11px 44px;
  color: #1B5BF7;
  background-color: #F4F7FF;
  border-radius: 4px;
  border: none;
}

.product-page__comments {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.product-page__comments-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px 40px;
  background: #F7F7F7;
  border-radius: 4px;
}

.product-page__comments-item + .product-page__comments-item {
  margin-top: 16px;
}

.product-page__comments-item-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.product-page__comments__user-pic {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  object-fit: cover;
}

.product-page__time {
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(60, 60, 67, 0.5);
}

.product-page__comments-item-content {
  margin-bottom: 16px;
}

.product-page__comments-text {
  margin: 0;
  font-size: 15px;
}

.product-page__comments-item-reactions {
  display: flex;
  align-items: center;
}

.product-page__comments-item-btn-like {
  width: 22px;
  height: 20px;
  margin-right: 33px;
  padding-left: 30px;
  color: #5C596D;
  background-image: url("../../Assets/images/thumbs-up.svg");
  background-color: transparent;
  text-align: center;
  background-repeat: no-repeat;
  background-position: left;
  border: none;
  cursor: pointer;
}

.product-page__comments-item-btn-dislike {
  width: 22px;
  height: 20px;
  margin-right: 33px;
  padding-left: 30px;
  color: #5C596D;
  background-image: url("../../Assets/images/thumbs-down.svg");
  background-color: transparent;
  text-align: center;
  background-repeat: no-repeat;
  background-position: left;
  border: none;
  cursor: pointer;
}
