.breadcrumb {

}

.breadcrumb__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb__item {
  padding-right: 8px;
  padding-left: 8px;
}

.breadcrumb__item:not(:first-child) {
  padding-left: 8px;
  border-left: 2px solid rgba(150, 146, 176, 0.2);
}

.breadcrumb__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1D1A2F;
  text-decoration: none;
}

.breadcrumb__link--active {
  color: #9692B0;
}
