.home-appliances {
  padding-top: 32px;
  padding-bottom: 64px;
}

.home-appliances__headline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.home-appliances__headline:hover {
  color: #1B5BF7;
  cursor: pointer;
}

.home-appliances__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.home-appliances__item {
  width: calc(100% / 5 - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;
  margin-right: 30px;
  background-color: #F7F7F7;
  border-radius: 8px;
  text-align: left;
}

.home-appliances__item:nth-child(5n) {
  margin-right: 0;
}


.home-appliances__item-img {
  width: 171px;
  height: 167px;
  margin-bottom: 32px;
}

.home-appliances__item-name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #5C596D;
  text-decoration: none;
}

.home-appliances__item-name:hover {
  color: #1B5BF7;
}

@media only screen and (max-width: 1110px){

  .home-appliances__list {
    flex-wrap: wrap;
  }

  .home-appliances__item {
    width: calc(100% / 3 - 14px);
    margin: 0;
    margin-bottom: 20px;
  }

  .home-appliances__item:not(:nth-child(3n)):not(:last-child) {
    margin-right: 20px;
  }
 
}



@media only screen and (max-width: 768px){
  .container{
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .home-appliances__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .home-appliances__item {
    width: calc(100% / 2 - 10px);
    margin: 0;
    margin-bottom: 20px !important;
  }

  .home-appliances__item:not(:nth-child(3n)):not(:last-child) {
    margin: unset;
  }
}

@media only screen and (max-width: 576px){
  .container{
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .home-appliances__list {
    flex-direction: column;
  }

  .home-appliances__item {
    width: 100%;
  }

  .home-appliances__item:not(:last-child) {
    margin-bottom: 20px;
  }


}
