.login {
  position: relative;
  background-color: #FFFFFF !important;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}

.login__exit-btn {
  position: absolute;
  right: -35px;
  top: -25px;
  width: 20px;
  height: 20px;
  background-image: url("../../Assets/images/icon-x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login__headline {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5C596D;
}

.login__txt {
  margin-top: 0;
  margin-bottom: 24px;
}

.login__input {
  padding: 14px 16px;
  margin-bottom: 12px;
  background-color: #F7F7F7;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5C596D;
  border: none;
}

::placeholder {
  color: #9692B0;
}

.login__submit-btn {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 24px;
  background-color: #1B5BF7;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease background-color;
}

.login__submit-btn:hover {
  background-color: #FFFFFF;
  color: #1B5BF7;
  border: 1px solid #1B5BF7;
}

.login__links-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.google-link {
  display: inline-block;
  width: 200px;
  height: 48px;
  background-image: url("../../Assets/images/google.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F7F7F7;
  border-radius: 4px;
}

.google-link:hover {
  background-color: white;
  border: 2px solid #F7F7F7;
}

.facebook-link {
  display: inline-block;
  width: 200px;
  height: 48px;
  background-image: url("../../Assets/images/facebook-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F7F7F7;
  border-radius: 4px;
  border: 2px solid transparent;
}

.facebook-link:hover {
  background-color: white;
  border: 2px solid #F7F7F7;
}

.login__subtext {
  margin: 0;
}

.login__link {
  margin-left: 10px;
  color: #1B5BF7;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.login__link:hover {
  opacity: 0.8;
}
