.products-list {
  padding-top: 32px;
  padding-bottom: 64px;
}

.products-list__headline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5C596D;
}

.products-list__headline:hover {
  color: #1B5BF7;
  cursor: pointer;
}

.products-list__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.products-list__item {
  width: calc(100% / 4 - 24px);
  background-color: #FFFFFF;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.products-list__item:not(:nth-child(4n)) {
  margin-right: 32px;
}

@media only screen and (max-width: 1110px){
  .products-list__list {
    justify-content: space-between;
  }
  
  .products-list__item {
    width: calc(100% / 3 - 10px);
    margin-bottom: 10px;
  }

  .products-list__item:not(:nth-child(4n)) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px){
  .container{
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .products-list__list {
    justify-content: space-between;
  }

  .products-list__item {
    width: calc(100% / 2 - 10px);
    margin: 0px;
    margin-bottom: 20px;
  }

  .products-item__show-item {
    left: calc(50% - 90px);
  }
}

@media only screen and (max-width: 530px){
  .container{
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .products-list__headline {
    display: block;
    text-align: center;
  }

  .products-list__item {
    width: calc(100%);
    margin: 0;
  }

  .products-list__item {
    margin-bottom: 20px;
  }

  .products-list__item:not(:nth-child(4n)) {
    margin-right: 0;
  }
}