.header {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__container {
  display: flex;
  align-items: center;
}

.main-logo {
  display: block;
  width: 152px;
  height: 52px;
  margin-right: 56px;
  flex-shrink: 0;
  opacity: 1;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.6;
}

.header__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__form {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin-right: 56px;
}

.header__search-btn {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url("../../Assets/images/search.svg");
  background-size: 35px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 12px;
  background-color: transparent;
}

.header__search-input {
  width: 100%;
  padding: 14px 40px 14px 52px;
  background-color: #F7F7F7;
  border-radius: 4px;
  border: none;
  background-image: url("../../Assets/images/search.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left 16px center, right 16px center;
}

.header__search-by-photo {
  position: absolute;
  top: 12px;
  right: 46px;
}

.header__cancel-search-btn {
  display: none;
}

.header__search-by-photo:hover .tooltip {
  display: block;
}

.header__search-by-photo-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #9692B0;
  position: absolute;
  z-index: 2;
}

.header__search-by-photo-link:hover {
  color: #5C596D;
}

.tooltip {
  display: none;
  padding: 8px;
  position: absolute;
  top: 30px;
  right: -70px;
  width: 116px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  text-align: center;
  background-color: #FFFFFF;
  z-index: 1;
}

.tooltip::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  left: 48px;
  right: 48px;
  top: -18px;
  border-radius: 1px;
}

.header__controls {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__controls-item:not(:last-child) {
  margin-right: 24px;
}

.header-controls-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5C596D;
  text-decoration: none;
  position: relative;
}

.header-controls-link:hover {
  color: #1B5BF7;
}

.header-controls-link-txt {
  margin-top: 4px;
}

.header-controls__counter {
  min-width: 22px;
  position: absolute;
  top: -10px;
  right: calc(50% - 22px);
  padding: 0.5px 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #1B5BF7;
  border-radius: 50%;
  text-align: center;
}

.header__controls-item:nth-child(2) .header-controls__counter,
.header__controls-item:nth-child(3) .header-controls__counter {
  top: -10px;
  right: calc((50% - 22px));
}

.hamburger {
  width: 50px;
  height: 50px;
  position: relative;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .open .icon {
  transition: 0.5s;
}

.open .icon::before {
  transform: rotateZ(-45deg) scaleX(0.75) translate(-6px, -3px);
}

.open .icon::after {
  transform: rotateZ(45deg) scaleX(0.75) translate(-6px, 3px);
}

.icon {
  position: relative;
  transition-duration: 0.5s;
  height: 5px;
  width: 30px;
  background-color: black;
}

.icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: black;
  content: "";
  top: -10px;
}

.icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: black;
  content: "";
  top: 10px;
}

@media only screen and (max-width: 876px) {
  .container {
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__form {
    margin: 0;
  }

  .hamburger {
    order: -1;
  }

  .header__controls-wrapper {
    width: 100%;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);
    z-index: 99;
  }

  .header__controls-item {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .header__form--active {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d8d7de;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .header__form--active .header__search-input {
    display: block;
    height: 48px;
    background-color: white;
  }

  .header__search-input {
    display: none;
  }

  .header__search-by-photo {
    display: none;
  }

  .header__form--active .header__cancel-search-btn {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url("../../Assets/images/icon-x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }

  .header__cancel-search-btn {}

  .header__search-btn {
    display: block;
    margin-left: auto;
    cursor: pointer;
  }
}