.navbar {
  background-color: #F8F8F8;;
}

.navbar__container {

}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar__item {
  padding: 10px 16px;
}

.navbar__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5C596D;
  text-decoration: none;
}

.navbar__link:hover {
  color: #1D1A2F;
}


