.shops__headline {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5C596D;
}

.shops__container {
  padding-top: 42px;
  padding-bottom: 42px;
}

.shops__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 37px;
  list-style-type: none;
}

.shops__item:not(:last-child) {
  margin-bottom: 16px;
}

.shops__how-to-reach {
  display: flex;
}

.shops__how-to-reach-left {
  width: 411px;
  margin-right: 32px;
}

.shops__how-to-reach__img {
  width: 411px;
  height: 130px;
  margin-bottom: 24px;
}

.shops__how-to-reach__list {
  margin: 0;
  padding-right: 54px;
  padding-left: 0;
  list-style: none;
  word-break: break-all;
}

.shops__how-to-reach__item {
  display: flex;
  align-items: center;
}

.shops__how-to-reach__item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.shops__how-to-reach__item:nth-child(1):before {
  background-image: url("../../Assets/images/location.svg");
}

.shops__how-to-reach__item:nth-child(2):before {
  background-image: url("../../Assets/images/icon-map.svg");
}

.shops__how-to-reach__item:nth-child(3):before {
  background-image: url("../../Assets/images/icon-clock.svg");
}

.shops__how-to-reach__item:nth-child(4):before {
  background-image: url("../../Assets/images/phone.svg");
}


.shops__how-to-reach__item:not(:last-child) {
  margin-bottom: 40px;
}

.shops__how-to-reach__address {
  font-style: normal;
}

.shops__how-to-reach__time {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.shops__how-to-reach__tel {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
