.delivery-item {
  padding: 32px 23px 32px 32px;
  border: 2px solid #EAE9EF;
  border-radius: 8px;
}

.delivery-item__txt {
  margin-top: 0;
  margin-bottom: 22px;
}

.delivery-item__price {
  color: #1D1A2F;

}