.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #F7F7F7;
}

.footer-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer__top {
  display: flex;
  align-items: stretch;
  margin-bottom: 64px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.footer__nav-name {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1D1A2F;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5C596D;
  text-decoration: none;
}

.footer__nav-link:hover {
  color: #1D1A2F;
}

.footer__payment-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__payment-item:not(:last-child) {
  margin-right: 16px;
}

.footer__socials-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__socials-item:not(:last-child) {
  margin-right: 24px;
}

.footer__socials-link {
  color: #000000;
}

.footer__socials-link:hover {
  color: #1B5BF7;
}

.footer__bottom {
  display: flex;
  align-items: flex-start;
}

.footer__bottom-nav {
  margin-right: 64px;
}

.footer__copyright {
  justify-self: center;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}


@media only screen and (max-width: 1200px){
  .container{
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .footer__top {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer__nav {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .footer__bottom {
    justify-content: space-between;
  }
  
}

@media only screen and (max-width: 576px){
  .container{
    max-width: 576px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .footer {
    padding: 0;;
  }

  .footer__top {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer__nav {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .footer__payment-list {
    justify-content: center;
  }

  .footer__socials-list {
    justify-content: center;
  }

  .footer__bottom {
    flex-direction: column;
  }
}