.products-item {
  position: relative;
  padding: 24px;
}

.products-item__img {
  height: 179px;
  margin-bottom: 12px;
  object-fit: contain;
}

.wrapper:hover .products-item__show-item {
  display: block;
}

.products-item__show-item {
  display: none;
  position: absolute;
  padding: 12px 21px;
  top: 85px;
  left: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  border: none;
  color: #9692B0;
}

.products-item__show-item:hover {
  color:#1D1A2F;
  cursor: pointer;
}

.products-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products-item__name {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.products-item__price {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1D1A2F;
}

.products-item__credit {
  margin-bottom: 16px;
}

.products-item__rating-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.products-item__rating {
  width: 25px;
  height: 25px;
  margin-right: 1px;
  background-image: url("../../Assets/images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.products-item__controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-item__btn-add-cart {
  position: relative;
  min-width: 131px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: #1B5BF7;
  border-radius: 4px;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}

.products-item__btn-add-cart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.products-item__btn-add-cart:disabled {
  background-color: #9692B0;
  cursor: not-allowed;
}

.products-item__btn-add-cart:disabled:hover svg {
  transform: none;
}


.products-item__btn-add-cart:hover svg{
  transform: rotate(15deg);
}

.products-item__btn-add-cart-txt {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.products-item__btn-order {
  width: 131px;
  padding: 11px 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5C596D;
  border: none;
  background-color: #F7F7F7;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease background-color;
}

.products-item__btn-order:hover {
  color: #1B5BF7;
  background-color: #E0E8FF;
}

.products-item__btn-compare {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #5C596D;
}

.products-item__btn-compare:hover {
  color: #1B5BF7;
}

.products-item__btn-favourite {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #5C596D;
}

.products-item__btn-favourite:hover svg {
  fill: #1B5BF7;
  color: #1B5BF7;
}
