.formalize {

}

.formalize__container {
  display: flex;
  align-items: flex-start;
  padding-top: 43px;
  padding-bottom: 73px;
}

.formalize__headline {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1D1A2F;
}

.formalize__form {
  width: 520px;
  display: flex;
  flex-direction: column;
  margin-right: 144px;
}

.formalize__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}

.formalize__label:last-child {
  margin-bottom: 24px;
}

.formalize__label-name {
  margin-bottom: 8px;
  font-weight: 500;
}

.formalize__labels-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 2px solid #F2F2F2;
  border-right: none;
  border-radius: 4px;
}

.formalize__input {
  width: 100%;
  padding: 14px 16px;
  background-color: #F7F7F7;
  border-radius: 4px;
  border: none;
}

.formalize__select {

}

.formalize__inner-label {
  flex-grow: 1;
}

.formalize__radio:checked + .formalize__custom-input {
  background-color: #F2F2F2;
}

.formalize__custom-input {
  height: 104px; 
  display: block;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: 81px 23px;
  background-position: center;
  background-color: #FFFFFF;
  border-right: 2px solid #F2F2F2;
  border-radius: 4px;
  cursor: pointer;
}

.payme {
  background-image: url("../../Assets/images/payme.svg");
}
.humo {
  background-image: url("../../Assets/images/humo.svg");
}
.uzcard {
  background-image: url("../../Assets/images/uzcard.svg");
}

.formalize__delivery-labels-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.formalize__delivery-label {
  flex-grow: 1;
}

.formalize__delivery-custom-input {
  width: 253px;
  height: 56px;
  display: block;
  padding: 16px 15px 16px 51px;
  border: 2px solid #F2F2F2;
  background-image: url("../../Assets/images/delivery.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left 15px center;
}

.formalize__delivery-radio:checked ~ .formalize__delivery-custom-input {
  background-color: #F2F2F2;
}

.pickup {
  background-image: url("../../Assets/images/pickup.svg");
}

.formalize__textarea {
  width: 520px;
  height: 210px;
  padding: 16px 8px 8px 16px;
  border: 2px solid #EAE9EF;
  resize: none;
  overflow: auto;
  background-color: #FFFFFF;
}

.formalize__txt {
  margin-top: 0;
  margin-bottom: 48px;
}

.formalize__link {
  text-decoration: none;
  color: #1B5BF7;
  border-radius: 4px;
}

.formalize__submit-btn {
  padding: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #1B5BF7;
  border-radius: 4px;
  border: none;
}

.formalize__submit-btn:hover {
  opacity: 0.8;
}

.formalize__order {
  width: 521px;
  padding: 32px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.formalize__order-headline {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #5C596D;
}

.formalize__order-def-list {
  display: flex;
  flex-direction: column;
}

.formalize__order-def-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  
}

.formalize__order-def-title {
  color: #9692B0;
  border-bottom: 2px solid #F2F2F2;
  padding-right: 70px;
  padding-bottom: 24px;
}




.formalize__order-quantity {
  color: #5C596D;
  font-weight: 400;
  margin-right: 4px;
}

.formalize__order-def-desc {
  color: #5C596D;
}

.formalize__order-delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formalize__total {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.formalize__total-price {
  margin-left: 32px;
}
