@font-face{
  font-family: "Poppins";
  src: 
    url("../src/Assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../src/Assets/fonts/Poppins-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
  font-family: "Poppins";
  src: 
    url("../src/Assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("../src/Assets/fonts/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
  font-family: "Poppins";
  src: 
    url("../src/Assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../src/Assets/fonts/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
  font-family: "Poppins";
  src: 
    url("../src/Assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("../src/Assets/fonts/Poppins-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html{
  height: 100%;
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

body{
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
  color: #5C596D;
}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container{
  width: 100%;
  max-width: 1336px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
